<!-- <h1>notre application angular 5</h1> -->
<!--<courses></courses>-->
<!--<p>{{body | resume:1:20 }}</p>-->

<!--<favorite [is-fav]="post.isFavorite" 
(myEvent)="onFavoriteChanged($event)"></favorite>
-->
<!-- <panel>
    <div class="header">
        This is Head
    </div>
    <div class="body" >
        This is body
    </div>

</panel> -->

<!-- ngIf -->
<!-- <div *ngIf="courses.length > 0; then myCourses  else noCorses">
  
</div> -->
<!-- <div *ngIf="courses.length ==0"> 
    pas de cours
</div> -->
<!-- <ng-template #myCourses>
    Liste de mes courses
</ng-template>
<ng-template #noCorses>
    pas de course
</ng-template> -->

<!-- HIDDEN PROPRETY -->
<!-- <div [hidden]="courses.length>0">
    Liste de mes cours 
</div>
<div [hidden]="courses.length==0">
    Pas de cours 
</div> -->

<!--  -->

<!-- NgSwitch -->
<!-- <ul class="nav nav-pills">
    <li [class.active]="ViewCourse=='Laravel'"><a (click)="ViewCourse='Laravel'" >Laravel</a></li>
    <li [class.active]="ViewCourse=='Angular'"><a (click)="ViewCourse='Angular'" > Angular </a></li>
    <li [class.active]="ViewCourse=='Symfony'"><a (click)="ViewCourse='Symfony'">  Symfony</a></li>
</ul>

<div [ngSwitch]="ViewCourse">
    <div *ngSwitchCase="'Laravel'">lorem Laravel </div>
    <div *ngSwitchCase="'Angular'">Lorem Angular </div>
    <div *ngSwitchCase="'Symfony'">Loren Symfony </div>
    <div *ngSwitchDefault>  Autre chose ... </div>
</div> -->


<!-- 

<button class="btn btn-success" (click)="loadCourses()">Load</button>
<button  class="btn btn-success" (click)="addCourse()">Ajouter</button>
<ul>
    <li *ngFor="let cours of courses; trackBy: trackCourse">
         -->
        <!-- last as isEvent =>kat returni true ila element hwa Last element fi tableau--> 
        <!-- first as isEvent =>kat returni true ila element hwa awal element fi tableau-->
         <!--even as isEvent =>kat returni true ila kan index AwaLi  dyal element fi tableau-->
        <!--index as i =>katjib Lina index dyal element fi tableau-->
       
        <!-- <span *ngIf="isEvent">Event -</span>   -->

      <!-- {{i}}  {{cours.id}} {{cours.title}} 
      
      <button class="btn btn-wraning" (click)="updateCourse(cours)">Update</button>
      <button class="btn btn-danger" (click)="removeCourse(cours)">Remove</button>

    </li>
</ul>
<span class="glyphicon"
    [ngClass]="{
        'glyphicon-star':IsSelected,
        'glyphicon-star-empty':!IsSelected
    }"
    (click)="myFavorite()"
    [ngStyle]="{'color': IsSelected? 'red':'blue',
            'font-size': IsSelected? '40px':'20px'
        }"
>
</span>

<p *ngIf="personne.adresse">{{personne.adresse.ville}}</p>

<p >{{personne.adresse?.ville}}</p> -->


<!-- <br>
<input type="text" appInputFormat [format]="'lowcase'" >
<input type="text"  [appTextFormat]="'U'"> -->


<!-- <div class="container">
    <div class="col-md-6 col-md-offset-3">
         <contact-form></contact-form> 
     <signup-form></signup-form> 
        <posts></posts>
        <github-folowers></github-folowers>
        
    </div>
</div> -->
<navbar></navbar>
<router-outlet></router-outlet>
