<div *ngFor="let folower of folowers" class="media">
<div class="media-left">
  <a href="#">
    <img style="width: 30px;height: 30px;" 
    class="avatar media-object" 
    src="{{folower.avatar_url}}" 
    alt="error img">
    {{folower.login}}
  </a>
</div>

<div class="media-body">
  <h4 class="media-heading">
    {{folower.login}}
  </h4>
  <a [routerLink]="['/followers',folower.id,folower.login]"
    [queryParams]="{page:1,type:folower.type}"  >
    {{folower.html_url}}
  </a>
  <br>
</div>

</div>



<!-- 
<ul>
  <li *ngFor="let folower of folowers">
    <img [src]="folower.avatar_url" alt="error img">
    {{folower.login}}<br>
    {{folower.html_url}}
  </li>
</ul> -->